<nav class="bpp-main-navigation">
  <a routerLink="/dashboard" class="bpp-main-navigation__link" routerLinkActive="active">Home</a>
  <a routerLink="/users" class="bpp-main-navigation__link" routerLinkActive="active">Users</a>
  <a routerLink="/ideas" class="bpp-main-navigation__link" routerLinkActive="active">Gift ideas</a>
  <a routerLink="/create-party" class="bpp-main-navigation__link" routerLinkActive="active">Create party</a>
  <a routerLink="/fund" class="bpp-main-navigation__link" routerLinkActive="active">Gift fund</a>
</nav>
